<h1>Ingresar un producto</h1>

<form action="/ver_productos" method="POST">
    <label for="producto">Producto</label>
    <input type="text" name="producto"></input>
    <br>
    <br>
    <label for="precio">Precio</label>
    <input type="text" name="precio"></input>
    <br>
    <br>
    <label for="stock">Stock</label>
    <input type="text" name="stock"></input>
    <br>
    <br>
    <label for="imagen">Imagen</label>
    <input type="text" name="imagen"></input>
    <br>
    <br>
    <button type="submit" class="btn btn-success">Cargar Producto</button>
</form>
