<h1>Productos</h1>
<ul>
    {{#each productos}}
        <li>Id: {{this.id}}</li>
        <li>Producto: {{this.producto}}</li>
        <li>Precio: {{this.precio}}</li>
        <li>Stock: {{this.stock}}</li>
        <br>
    {{/each}}
</ul>
